/* 
    * Add these for RIW moodle layout 
    */

.riw-footer-shift {
  width: 70%;
}

.riw-footer-col {
  left: -1em;
}

.riw-footer-row {
  position: relative;
  left: 30%;
  margin-top: 1rem;
}

p.riw-footer-row {
  left: 39%;
}

.school-logo p {
  display: block;
  max-width: 7rem;
}

.contact-us {
  position: relative;
  left: 44%;
  display: inline;
}

.riw-jumbotron {
  padding: 1rem;
  margin: 0;
}

.riw-jumbotron p {
  font-size: 12pt;
}

/* Carousel */
.carousel-item img {
  border-radius: 0;
  object-fit: cover;
}

.custom-nav .nav-link:visited {
  color: #fefefe;
}

.custom-nav .nav-link:hover {
  color: #fefefe;
}

a.riw-dropdown-item {
  color: #00000091;
  width: 21.75em;
}

.carousel-item img {
  width: 100%;
  height: 28em;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.6) !important;
  border-radius: 1rem;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: transparent;
  border-color: transparent;
}

.carousel-control-next-icon {
  background-color: #000;
  opacity: 0.6;
  width: 3rem;
  height: auto;
  padding: 1rem;
  margin: 3rem;
  border-radius: 20rem;
}

.carousel-control-prev-icon {
  background-color: #000;
  opacity: 0.6;
  width: 3rem;
  height: auto;
  padding: 1rem;
  margin: 3rem;
  border-radius: 20rem;
}

.riw-carousel-link a {
  color: #fefefe;
  text-decoration: underline;
}

.riw-carousel-link a:hover {
  color: #e2e1e1;
}

/* our products section*/
.product-list {
  background-color: #e9ecef;
  padding: 0.5rem;
}

.product-content {
  width: 100%;
  text-align: center;
}

h2.product-content,
h3.product-content {
  font-weight: 500;
}

.riw-dropdown {
  position: relative;
  left: 19rem;
  width: 60%;
  flex-wrap: nowrap !important;
  gap: 4em;
}

.riw-col {
  max-width: 50% !important;
}

.riw-btn {
  background-color: #3F2A56;
  color: #fefefe;
  width: 22em;
  height: auto;
  margin: 1rem -6rem;
}

.dropdown-menu a.riw-dropdown-item {
  white-space: normal;
}

.riw-btn:hover {
  background-color: #2e1f3f;
  color: #b1b1b1;
}

.riw-btn:active {
  background-color: #2e1f3f;
  color: #b1b1b1;
}

a.riw-dropdown-item:hover {
  background-color: #3F2A56;
  color: #fefefe;
}

/* placemat */
.placemat-container {
  min-width: 22em;
  min-height: 19rem;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 20%);
  margin-bottom: 1rem;
  border: 1px solid #000;
  border-radius: 5px;
  transition: 0.3s;
}

.placemat-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.placemat-container img {
  position: absolute;
  top: 1rem;
  max-width: 100%;
  min-height: 10rem;
  object-fit: cover;
}


.placemat-container h3 {
  position: absolute;
  padding-left: 0.75rem;
  top: 10rem;
}

.placemat-container p {
  position: absolute;
  padding-left: 0.75rem;
  top: 12.25rem;
}


/* Tapestry*/
.tapestry-container {
  width: 22em;
  height: 19rem;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 20%);
  margin-bottom: 1rem;
  border: 1px solid #000;
  border-radius: 5px;
  transition: 0.3s;
  margin: 0 0 7rem 0;
}

.tapestry-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.tapestry-container img {
  position: absolute;
  top: 0.15rem;
  max-width: 100%;
  min-height: 10rem;
  object-fit: cover;
}

p.tapestry-paragraph {
  position: absolute;
  padding-left: 0.75rem;
  top: 12.25rem;
}

.tapestry-paragraph .event-link {
  position: absolute;
  padding-left: 0.75rem;
  top: 15rem;
}

/* Align h3 titles */
.titles-sm {
  display: inline;
  position: relative;
  left: 25%;
  max-width: 15rem;
  margin: 0 15rem;
}

/* properly center more resources title */
.resources {
  left: 10em !important;
}

/*cards*/

.riw-card {
  cursor: default;
  width: 5em;
}

.riw-card-deck {
  display: flex;
  flex-flow: row wrap;
  margin: 0 0 0 -3em;
  position: relative;
  left: 1.25rem;
  width: 100%;
  align-content: center;
}

.riw-card-deck .riw-card {
  flex: 100%;
  margin: 2rem 0.25rem;
}

.riw-card-body a {
  color: #000;
  cursor: pointer;
}

.riw-card-time {
  text-align: center;
  font-size: 1em;
  font-weight: 600;
}

a.event-link {
  display: block;
  text-decoration: underline;
  color: #3F2A55;
  margin-top: 0.75rem;
}

a.event-link:hover {
  color: #00000091;
}

/* RIW footer */

.riw-footer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.gc-campus {
  margin: 1rem 0;
  position: relative;
  top: 30%;
  left: 39%;
  width: 10rem;
  height: auto;
}

.gc-campus img {
  width: 13rem;
}

.gc-campus img:hover {
  opacity: 0.8;
}

.school-logo p {
  font-weight: 600;
}

.school-logo a {
  color: #000;
  position: relative;
  left: 5%;
}

.school-logo a:hover {
  color: #3F2A56;
  text-decoration: underline;
}

.contact-us a {
  display: inline;
  color: #000;
  text-decoration: underline;
}

.contact-us a:hover {
  color: #3F2A55;
}


.placemat-container {
  width: 50em;
  height: 17rem;
}

.placemat-container img {
  max-width: 20rem;
  min-height: 15rem;
  padding: 0.25rem;
  object-fit: cover;
  left: 1rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.placemat-container h3 {
  padding: 0 1rem;
  margin: 1rem;
  top: -0.75rem;
  left: 21rem;
}

.placemat-container p {
  margin: 0 1rem;
  padding: 1rem;
  top: 5.5rem;
  left: 21rem;
}

.placemat-container a.event-link {
  position: absolute;
  padding: 0 1rem;
  margin: 1rem;
  top: 14rem;
  left: 21rem;
}

.tapestry-container {
  width: 50em;
  height: 20.5rem;

}

.tapestry-container img {
  max-width: 20rem;
  min-height: 15rem;
  padding: 0.25rem;
  object-fit: cover;
  top: 3rem;
  left: 1rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

h3.tapestry-paragraph {
  position: absolute;
  padding: 0 1rem;
  margin: 1rem;
  top: 0.25rem;
  left: 13em;
}

p.tapestry-paragraph {
  margin: 0 1rem;
  padding: 1rem;
  left: 21rem;
}

p.tapestry-paragraph:nth-of-type(1) {
  top: 2.75rem;
}

p.tapestry-paragraph:nth-of-type(2) {
  top: 6.75rem;
}

p.tapestry-paragraph:nth-of-type(3) {
  top: 10.75rem;
}

.tapestry-paragraph .event-link {
  padding: 0 1rem;
  margin: 1rem;
  top: 6rem;
  left: -1.2rem;
}

.events-hr {
  width: 100%;
}